<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>foodtasty</title>
    <link rel="shortcut icon" href="foodtasty.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <!--Cabeçalho da página-->
        <a href="/"><img src="/imagens/foodtasty.png" id="img"></a>

        <input type="text" id="pesquisa" name="pequisa" placeholder="O que voce procura?">

        <button onclick="c('aside').classList.toggle('show')"><img src="/imagens/carrinho-de-compras (1).png" id="imgInterface"></button>
        <a href="cadastro"><button><img src="/imagens/do-utilizador.png" id="imgInterface2"></button></a>

        <h1>Área de Cadastro</h1>

        <p>_______________________________________________________________________________________________________________________________________________________________________________________________
        </p>
    </header>

    <div id="Cadastros">
        <div id="entrar">
            <h2>Entrar</h2>

            <p><strong>Já é cadastrado?</strong></p>
            <input type="text" id="txt1" name="txt1" placeholder="Digite seu e-mail"><br><br><br>
            <input type="text" id="txt2" name="txt2" placeholder="Digite sua senha"><br><br>

            <p><strong>Esqueci minha senha</strong></p>

            <button type="button" id="btn1"><strong>Entrar</strong></button><br><br>

            <p><strong>Se ainda não é cadastrado</strong></p>
            <button type="button" id="btn1" onclick="cadastrar()"><strong>Cadastre-se</strong></button><br><br>
        </div>

        <div id="cadastrar" class="cadastrar">
            <h2>Cadastre-se</h2>

            <p><strong>Preencha os dados</strong></p>
            <input type="text" id="txt3" name="txt3" placeholder="Digite seu nome"><br><br><br>
            <input type="text" id="txt4" name="txt4" placeholder="Digite seu telefone"><br><br>
            <input type="text" id="txt5" name="txt5" placeholder="Digite seu CPF"><br><br>
            <input type="text" id="txt6" name="txt6" placeholder="Digite seu endereço"><br><br>
            <input type="text" id="txt7" name="txt7" placeholder="Digite seu e-mail"><br><br><br>
            <input type="text" id="txt8" name="txt8" placeholder="Digite sua senha"><br><br>

            <button type="button" id="btn2"><strong>Concluir cadastro</strong></button><br><br>
        </div>
    </div>
    

    <p>_______________________________________________________________________________________________________________________________________________________________________________________________
    </p>
    <footer>
        <div id="quem">
            <div id="foot2"> Quem somos nós?</div>
            <p>Nossa empresa foi criada </p>
            <p>com o intuito de aumentar o </p>
            <p>mercado de produtos</p>
            <p>ôrganicos além de incluir as</p>
            <p>pessoas com problemas de saúde</p>
            <p> e precisam de alimentos mais</p>
            <p>saudáveis e nutritivos.</p>
        </div>

        <div id="fale">
            <div id="foot"> Fale com a gente</div>
            <p>
                <img src="/imagens/chamada-telefonica.png" id="contatos"> (19) 99765-4332
            </p>
            <p>
                <img src="/imagens/whatsapp.png" id="contatos"> (19) 99534-7865
            </p>
            <p>
                <img src="/imagens/envelope.png" id="contatos"> foodtasty@gmail.com
            </p>
            <p>
                <img src="/imagens/instagram.png" id="contatos"> @food_tasty
            </p>
            <p>
                <img src="/imagens/facebook.png" id="contatos"> Food Tasty - Armazém
            </p>
        </div>

        <div id="formas">
            <div id="foot"> Formas de pagamento</div>
            <p>
                <img src="/imagens/pix.png" id="pagamento"> (19) 99765-4332
            </p>

            <p>
                <img src="/imagens/visa.png" id="pagamento">
            </p>

            <p>
                <img src="/imagens/ourocard.png" id="pagamento">
            </p>

            <p>
                <img src="/imagens/elo.png" id="pagamento">
            </p>

            <p>
                <img src="/imagens/mastercard.png" id="pagamento">
            </p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/cadastro.js"></script>
</body>
</html>