*{
    margin: 0;
    padding: 0;
}

/*cabeçalho--------------------------------------------------------------------------------------------------------*/
header{
    background:#a59e82;
    height: 285px;
}

#img{
    height: 350px;
    width: 350px;
    margin-left: 50px;
    margin-top: -90px;
}

#pesquisa{
    border: 2px solid #313330;
    position:absolute;
    top:65px;
    left:620px;
    height:40px;
    width:350px;
    background-color: #a59e82;
    color: #313330;
}

::placeholder{
    color: #313330;
}

#imgInterface{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 100px;
    top: 65px;
}

#imgInterface2{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 180px;
    top: 60px;
}

nav{
    margin-top: -65px;
    text-align: center;
}

p{
    margin-left: 30px;
}

#menu li{
    display: inline;
}

#menu li a{
    text-decoration: none;
    color: #313330;
    padding: 28.5px;
}

body{
    background-color: #a59e82;
}

/*corpo site---------------------------------------------------------------------------------------------------------------------*/

#slider{
    width: 80%;
    height: 25vw;
    max-height: 150px;
    max-width: 500px;
    margin-bottom: 140px;

    position: relative;

}

#slider img{
    opacity: 0;
    position: absolute;
    width: 175%;
    height: 290px;

    margin-left: 30px;
    object-fit: cover;
    margin-top: -35px;

    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

/*Produtos-------------------------------------------------------------------------------------------------------------------------------*/
.produtos{
    display: none;
}

.menu-closer{
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

aside{
    background-color: #9CCBE6;
    width: 0vw;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .2s;
    overflow-x: hidden;
}

aside.show{
    width: 30vw;
}

.cart-area{
    padding: 20px;
}

.produtos-area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.produtos-items{
    text-align: center;
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 50px auto;
}

.produtos-items a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.produtos-items-img{
    width: 200px;
    height: 200px;
    background-color: #EEE;
    border-radius: 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.produtos-items-img img{
    width: 100%;
    height: auto;
}

.produtos-items-add{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #3B88C5;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease .2s;
}

.produtos-items a:hover .produtos-items-add{
    background-color: #224C88;
}

.produtos-items-price{
    font-size: 15px;
    color: #313330;
    margin-top: 5px;
}

.produtos-items-name{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.produtos-items-desc{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

/*Janela model-----------------------------------------------------------------------------------------------------*/

.modelsWindowArea{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 238, 238, 0.1);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modelsWindowBody{
    width: 900px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0;
}

/*site de cadastro -------------------------------------------------------------------------------------------------*/
h1{
    margin-top: -80px;
    text-align: center;
    margin-bottom: -8px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#entrar{
    background-color:  rgb(225, 224, 224);
    width: 350px;
    margin-left: 150px;
    margin-top: -30px;
    position: relative;
    padding: 10px;
    height: 500px;
    margin-bottom: 10px;
}

#entrar p{
    padding: 15px;
    margin-left: 8px;
}

#txt1{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#btn1{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid #a59e82;
    background-color: #a59e82;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
/*rodapé----------------------------------------------------------------------------------------------------------*/

footer{
    display: inline-flex;
}

#foot{
    margin-left: 55px;
    background-color: rgb(225, 224, 224);
    width: 150px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

#foot2{
    margin-left: 65px;
    background-color: rgb(225, 224, 224);
    width: 150px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

#quem{
    border: 1px solid #a59e82;
    width: 260px;
    text-align: center;
}

#quem p{
    padding: 5px;
}

#fale{
    border: 1px solid #a59e82;
    width: 225px;
    text-align: center;
    margin-left: 420px;
}

#fale p{
    padding: 10px;
}

#formas{
    border: 1px solid #a59e82;
    width: 220px;
    text-align: center;
    margin-left: 400px;
}

#formas p{
    padding: 3px;
}

#contatos{
    margin-top: 0.5px;
    width: 15px;
    height: 15px;
}

#pagamento{
    margin-top: 0.5px;
    width: 30px;
    height: 30px;
}
