*{
    margin: 0;
    padding: 0;
}

/*cabeçalho--------------------------------------------------------------------------------------------------------*/
header{
    background:#a59e82;
    height: 285px;
}

#img{
    height: 350px;
    width: 350px;
    margin-left: 50px;
    margin-top: -90px;
}

#pesquisa{
    border: 2px solid #313330;
    position:absolute;
    top:65px;
    left:620px;
    height:40px;
    width:350px;
    background-color: #a59e82;
    color: #313330;
}

::placeholder{
    color: #313330;
}

#imgInterface{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 100px;
    top: 65px;
}

#imgInterface2{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 180px;
    top: 60px;
}

nav{
    margin-top: -65px;
    text-align: center;
}

p{
    margin-left: 30px;
}

#menu li{
    display: inline;
}

#menu li a{
    text-decoration: none;
    color: #313330;
    padding: 28.5px;
}

body{
    background-color: #a59e82;
}

/*corpo site---------------------------------------------------------------------------------------------------------------------*/

#slider{
    width: 80%;
    height: 25vw;
    max-height: 150px;
    max-width: 500px;
    margin-bottom: 140px;

    position: relative;

}

#slider img{
    opacity: 0;
    position: absolute;
    width: 305.5%;
    height: 290px;

    margin-left: 30px;
    object-fit: cover;
    margin-top: -35px;

    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

/*Produtos-------------------------------------------------------------------------------------------------------------------------------*/
.produtos{
    display: none;
}

.menu-closer{
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

aside{
    background-color: #9CCBE6;
    width: 0vw;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease .2s;
    overflow-x: hidden;
}

aside.show{
    width: 30vw;
}

.cart-area{
    padding: 20px;
}

.produtos-area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.produtos-items{
    text-align: center;
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 50px auto;
}

.produtos-items a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.produtos-items-img{
    width: 200px;
    height: 200px;
    background-color: #EEE;
    border-radius: 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.produtos-items-img img{
    width: 100%;
    height: auto;
}

.produtos-items-add{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #3B88C5;
    text-align: center;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease .2s;
}

.produtos-items a:hover .produtos-items-add{
    background-color: #224C88;
}

.produtos-items-price{
    font-size: 15px;
    color: #313330;
    margin-top: 5px;
}

.produtos-items-name{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.produtos-items-desc{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

/*Janela model-----------------------------------------------------------------------------------------------------*/

.modelsWindowsArea{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modelsWindowsBody{
    width: 900px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0;
}

.modelsBig{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelsBig--back{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.modelsBig img{
    height: 400px;
    width: auto;
}

.modelsInfo{
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

.modelsInfo h1{
    margin-top: 50px;
}

.modelsInfo .modelsInfo--desc{
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.modelsInfo--sector{
    color: #CCC;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.modelsInfo--price{
    display: flex;
    align-items: center;
}

.modelsInfo--atualprice{
    font-size: 28px;
    margin-right: 30px;
}

.modelsInfo--qtdarea{
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.modelsInfo--qtdarea button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.modelsInfo--qtd{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.modelsInfo--addButton{
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #4BD85F;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.modelsInfo--addButton:hover{
    background-color: #32A345;
}

.modelsInfo--cancelButton{
    display: inline-block;
    cursor: pointer;
}

.modelsInfo--cancelMobileButton{
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart{
    margin-bottom: 20px;
}

.cart-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart-item img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart-item-nome{
    flex: 1;
}

.cart-item-qtd{
    display: inline-flex;
    background-color: #EEE;
    border-radius: 10px;
    height: 30px;
}

.cart-item-qtd button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.cart-item-qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.cart-totalitems{
    padding: 15px 0;
    border-top:  1px solid #79B9DD;
    color: #315978;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart-totalitems span:first-child{
    font-weight: bold;
}

.cart-totalitems.big {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart-finalizar{
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48D05F;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #63F77C;
    transition: all ease .2s;
}

.cart-finalizar:hover{
    background-color: #35AF4A;
}

@media (max-width:1000px){
    .produtos-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:840px){
    body{
        flex-direction: column;
    }

    .produtos-area{
        display: block;
    }

    .produtos-items{
        max-width: 100%;
    }

    aside{
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease .2s;
    }

    aside.show{
        width: auto;
    }

    .cart-area{
        width: 100vw;
    }

    .menu-closer{
        display: block;
    }

    .modelsWindowsArea{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .modelsWindowsBody{
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .modelsBig img{
        width: 75%;
        height: auto;
    }

    .modelsInfo h1{
        margin-top: 20px;
    }

    .modelsInfo--qtdarea{
        height: 60px;
    }

    .modelsInfo--qtdarea button{
        font-size: 25px;
        padding: 0 25px;
    }

    .modelsInfo--qtd{
        line-height: 60px;
        font-size: 20px;
    }

    .modelsInfo--addButton{
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }
    .modelsInfo--cancelButton{
        display: none;
    }

    .modelsInfo--cancelMobileButton{
        display: block;
    }
}

/*site de cadastro -------------------------------------------------------------------------------------------------*/
h1{
    margin-top: -80px;
    text-align: center;
    margin-bottom: -8px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#entrar{
    background-color:  rgb(225, 224, 224);
    width: 350px;
    margin-left: 150px;
    margin-top: -30px;
    position: relative;
    padding: 10px;
    height: 500px;
    margin-bottom: 10px;
}

#entrar p{
    padding: 15px;
    margin-left: 8px;
}

#txt1{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#btn1{
    margin-left: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid #a59e82;
    background-color: #a59e82;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#cadastrar{
    background-color:  rgb(225, 224, 224);
    width: 350px;
    margin-left: 750px;
    margin-top: -30px;
    position: relative;
    padding: 10px;
    height: 500px;
    margin-bottom: 10px;
    display: none;
}

#cadastrar p{
    padding: 15px;
    margin-left: 8px;
}

#txt3{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#txt4{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#txt5{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#txt6{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#txt7{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#txt8{
    margin-left: 20px;
    width: 310px;
    height: 30px;
    border: 1px solid black;
}

#btn2{
    margin-left: 70px;
    width: 200px;
    height: 30px;
    border: 1px solid #a59e82;
    background-color: #a59e82;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


/*rodapé----------------------------------------------------------------------------------------------------------*/

footer{
    display: inline-flex;
}

#foot{
    margin-left: 55px;
    background-color: rgb(225, 224, 224);
    width: 150px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

#foot2{
    margin-left: 65px;
    background-color: rgb(225, 224, 224);
    width: 150px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

#quem{
    border: 1px solid #a59e82;
    width: 260px;
    text-align: center;
}

#quem p{
    padding: 5px;
}

#fale{
    border: 1px solid #a59e82;
    width: 225px;
    text-align: center;
    margin-left: 420px;
}

#fale p{
    padding: 10px;
}

#formas{
    border: 1px solid #a59e82;
    width: 220px;
    text-align: center;
    margin-left: 400px;
}

#formas p{
    padding: 3px;
}

#contatos{
    margin-top: 0.5px;
    width: 15px;
    height: 15px;
}

#pagamento{
    margin-top: 0.5px;
    width: 30px;
    height: 30px;
}
